[submodule "submodules/rentasad.library.basicTools.stringTools"]
	path = submodules/rentasad.library.basicTools.stringTools
	url = git@github.com:rentasad/rentasad.library.basicTools.stringTools.git
[submodule "submodules/rentasad.library.basicTools.configFileTool"]
	path = submodules/rentasad.library.basicTools.configFileTool
	url = https://github.com/rentasad/rentasad.library.basicTools.configFileTool
